In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [19]:
RANKS = ['class', 'order', 'family', 'genus', 'species']

# Sup_Table_S2

In [4]:
auroc = pd.read_csv("../Sup_Table_S2/AUROC.csv", sep=',', index_col=0)
auroc['intermediate'] = pd.Categorical([m.split('/')[0] for m in auroc.index], categories=['no_network', '1D-CNN', 'GRU', '1D-CNN_GRU'])
auroc['pooler'] = pd.Categorical([m.split('/')[-1].split('.')[0] for m in auroc.index], categories=['mean', 'max', 'cls_token', 'convolutional_attention'])
auroc['phylum'] = [m.split('/')[-1].split('.')[1] for m in auroc.index]
auroc.head(n=2)

,class,order,family,genus,species,intermediate,pooler,phylum
no_network/max.Annelida,0.940545,0.806680,0.814969,0.846463,0.123582,no_network,max,Annelida
no_network/mean.Annelida,0.940553,0.787185,0.844393,0.856913,0.083823,no_network,mean,Annelida

In [5]:
auroc.groupby(['intermediate', 'pooler'])[RANKS].mean()

                                         class     order    family     genus  \
intermediate pooler
no_network   mean                     0.910145  0.859341  0.871669  0.885377
             max                      0.894337  0.843184  0.826238  0.840330
             cls_token                0.909383  0.821134  0.756290  0.743039
             convolutional_attention  0.995093  0.984053  0.968800  0.948077
1D-CNN       mean                     0.938511  0.872597  0.806280  0.780754
             max                      0.990743  0.983333  0.971410  0.947702
             cls_token                0.855395  0.774224  0.731062  0.724979
             convolutional_attention  0.994061  0.984500  0.964732  0.947874
GRU          mean                     0.928139  0.887485  0.835308  0.814740
             max                      0.921299  0.895414  0.830856  0.815728
             cls_token                0.694039  0.656530  0.648813  0.632629
             convolutional_attention  0.978832  0.959596  0.936009  0.913063
1D-CNN_GRU   mean                     0.956492  0.887674  0.822905  0.799014
             max                      0.929945  0.885739  0.820660  0.794110
             cls_token                0.601539  0.591676  0.589901  0.569588
             convolutional_attention  0.965125  0.934538  0.901525  0.879604

                                       species
intermediate pooler
no_network   mean                     0.184633
             max                      0.163243
             cls_token                0.653296
             convolutional_attention  0.921194
1D-CNN       mean                     0.664363
             max                      0.912680
             cls_token                0.473270
             convolutional_attention  0.921395
GRU          mean                     0.707035
             max                      0.803391
             cls_token                0.145003
             convolutional_attention  0.904984
1D-CNN_GRU   mean                     0.622384
             max                      0.764809
             cls_token                0.120317
             convolutional_attention  0.820859

In [6]:
aupr = pd.read_csv("../Sup_Table_S2/AUPR.csv", sep=',', index_col=0)
aupr['intermediate'] = pd.Categorical([m.split('/')[0] for m in aupr.index], categories=['no_network', '1D-CNN', 'GRU', '1D-CNN_GRU'])
aupr['pooler'] = pd.Categorical([m.split('/')[-1].split('.')[0] for m in aupr.index], categories=['mean', 'max', 'cls_token', 'convolutional_attention'])
aupr['phylum'] = [m.split('/')[-1].split('.')[1] for m in aupr.index]
aupr.head(n=2)

,class,order,family,genus,species,intermediate,pooler,phylum
no_network/max.Annelida,0.692500,0.337403,0.307367,0.222938,0.131591,no_network,max,Annelida
no_network/mean.Annelida,0.683394,0.382189,0.322810,0.201561,0.081374,no_network,mean,Annelida

In [7]:
aupr.groupby(['intermediate', 'pooler'])[RANKS].mean()

                                         class     order    family     genus  \
intermediate pooler
no_network   mean                     0.779159  0.537083  0.376204  0.292903
             max                      0.741491  0.444655  0.302364  0.237979
             cls_token                0.818129  0.643601  0.554217  0.498329
             convolutional_attention  0.989408  0.947859  0.898690  0.858249
1D-CNN       mean                     0.909291  0.763569  0.638915  0.577045
             max                      0.979525  0.945854  0.901880  0.866970
             cls_token                0.759047  0.578457  0.481728  0.426541
             convolutional_attention  0.973517  0.939432  0.894381  0.859746
GRU          mean                     0.917736  0.814091  0.717652  0.656782
             max                      0.902199  0.803290  0.721206  0.681872
             cls_token                0.536150  0.301933  0.199256  0.172285
             convolutional_attention  0.962316  0.908327  0.856145  0.812163
1D-CNN_GRU   mean                     0.921713  0.788196  0.658630  0.590760
             max                      0.906822  0.797436  0.701710  0.652686
             cls_token                0.431014  0.227060  0.156549  0.125945
             convolutional_attention  0.950092  0.859899  0.774723  0.717007

                                       species
intermediate pooler
no_network   mean                     0.182490
             max                      0.160640
             cls_token                0.450603
             convolutional_attention  0.823794
1D-CNN       mean                     0.426123
             max                      0.817341
             cls_token                0.342878
             convolutional_attention  0.822292
GRU          mean                     0.555320
             max                      0.652392
             cls_token                0.133122
             convolutional_attention  0.795426
1D-CNN_GRU   mean                     0.465674
             max                      0.566171
             cls_token                0.102397
             convolutional_attention  0.712589

# Sup_Table_S3

In [25]:
df = pd.read_csv("../Sup_Table_S3/Sup_Table_S3.data.csv", sep=',')
df['train'] = pd.Categorical(df['train'], categories=['wo_mcm', 'w_mcm'])
df['test'] = pd.Categorical(df['test'], categories=['wo_mcm', 'w_mcm'])
df['rank'] = pd.Categorical(df['rank'], categories=RANKS)
df.head(n=2)

   train    test    phylum   rank     AUROC      AUPR
0  w_mcm  wo_mcm  Annelida  class  0.815669  0.672323
1  w_mcm   w_mcm  Annelida  class  0.991744  0.960172

In [26]:
df.groupby(['train', 'test', 'rank'])['AUROC'].mean().unstack()

rank              class     order    family     genus   species
train  test
wo_mcm wo_mcm  0.991449  0.980793  0.969679  0.947560  0.912680
       w_mcm   0.991535  0.983541  0.971141  0.947783  0.912680
w_mcm  wo_mcm  0.709495  0.556556  0.530171  0.584021  0.892686
       w_mcm   0.987899  0.970309  0.954733  0.939643  0.892686

In [27]:
df.groupby(['train', 'test', 'rank'])['AUPR'].mean().unstack()

rank              class     order    family     genus   species
train  test
wo_mcm wo_mcm  0.975374  0.944058  0.899899  0.867262  0.817341
       w_mcm   0.979525  0.945854  0.901880  0.866970  0.817341
w_mcm  wo_mcm  0.474667  0.203864  0.156120  0.210990  0.800835
       w_mcm   0.964114  0.912089  0.873170  0.846807  0.800835

# Sup_Table_S8

In [8]:
df = pd.read_csv("../Sup_Table_S8/Sup_Table_S8.data.csv", sep=',')
df['width'] = pd.Categorical(df['width'], ordered=True, categories=['cnn5', 'cnn7', 'cnn9', 'cnn11', 'cnn13'])
df.head(n=2)

     phylum width   rank     AUROC      AUPR
0  Annelida  cnn5  class  0.992167  0.959089
1  Annelida  cnn7  class  0.993119  0.984904

In [9]:
auroc = df.pivot(index=['phylum', 'width'], columns='rank', values='AUROC')

In [10]:
auroc

rank                      class    family     genus     order   species
phylum          width
Annelida        cnn5   0.992167  0.941507  0.932947  0.965031  0.930443
                cnn7   0.993119  0.959049  0.926681  0.950981  0.920563
                cnn9   0.998280  0.961609  0.927348  0.962302  0.932903
                cnn11  0.997159  0.946860  0.915157  0.958650  0.911874
                cnn13  0.999186  0.974325  0.949341  0.981048  0.929359
Arthropoda      cnn5   0.999594  0.993300  0.975595  0.998005  0.959943
                cnn7   0.999443  0.993280  0.973601  0.998472  0.937306
                cnn9   0.998344  0.994629  0.976999  0.999178  0.958584
                cnn11  0.999639  0.994882  0.977248  0.999288  0.961206
                cnn13  0.999699  0.994291  0.977786  0.999402  0.960501
Chordata        cnn5   0.999507  0.987067  0.966635  0.985833  0.911338
                cnn7   0.999876  0.988446  0.969527  0.987529  0.915949
                cnn9   0.999418  0.988772  0.967097  0.987471  0.909985
                cnn11  0.999833  0.988624  0.968205  0.992014  0.905963
                cnn13  0.998856  0.990204  0.969955  0.990976  0.911278
Cnidaria        cnn5   0.995984  0.960470  0.948938  0.988948  0.757352
                cnn7   0.997166  0.954319  0.938539  0.984621  0.762455
                cnn9   0.998358  0.962620  0.958235  0.988279  0.784045
                cnn11  0.997185  0.962847  0.958789  0.991917  0.802912
                cnn13  0.997878  0.969450  0.967305  0.992628  0.793950
Echinodermata   cnn5   0.996740  0.977915  0.969477  0.986330  0.963859
                cnn7   0.996531  0.982795  0.964106  0.979267  0.964671
                cnn9   0.998816  0.987295  0.976749  0.987717  0.956481
                cnn11  0.997317  0.982432  0.971104  0.984742  0.969413
                cnn13  0.998844  0.990371  0.982412  0.987424  0.960649
Mollusca        cnn5   0.998925  0.956502  0.930024  0.988733  0.907824
                cnn7   0.999341  0.965055  0.941354  0.989603  0.916968
                cnn9   0.999413  0.963456  0.934186  0.986699  0.906055
                cnn11  0.999283  0.958723  0.936752  0.993578  0.914528
                cnn13  0.999134  0.959255  0.931716  0.991605  0.916499
Nematoda        cnn5   0.982185  0.924170  0.915540  0.958698  0.965147
                cnn7   0.967672  0.923900  0.911516  0.972406  0.967182
                cnn9   0.978081  0.953792  0.944800  0.975086  0.968398
                cnn11  0.967254  0.955550  0.920812  0.984618  0.965253
                cnn13  0.970961  0.972803  0.954805  0.983824  0.971757
Platyhelminthes cnn5   0.977108  0.970670  0.979653  0.979943  0.950150
                cnn7   0.969431  0.991975  0.990500  0.981441  0.954147
                cnn9   0.967996  0.999055  0.997353  0.991491  0.957633
                cnn11  0.987388  0.993089  0.992720  0.985746  0.909376
                cnn13  0.963689  0.995576  0.996155  0.992062  0.938441

In [11]:
aupr = df.pivot(index=['phylum', 'width'], columns='rank', values='AUPR')

In [12]:
aupr

rank                      class    family     genus     order   species
phylum          width
Annelida        cnn5   0.959089  0.876503  0.837088  0.892638  0.816514
                cnn7   0.984904  0.884024  0.822529  0.886206  0.818561
                cnn9   0.989256  0.875068  0.817727  0.905956  0.833205
                cnn11  0.976164  0.861239  0.796108  0.889651  0.813833
                cnn13  0.997816  0.921583  0.865737  0.931343  0.834741
Arthropoda      cnn5   0.992866  0.935210  0.874637  0.977503  0.941584
                cnn7   0.982416  0.932029  0.866841  0.974482  0.932684
                cnn9   0.992444  0.939537  0.880332  0.983778  0.940949
                cnn11  0.992733  0.940245  0.883358  0.981061  0.940364
                cnn13  0.995037  0.936123  0.881111  0.987357  0.941810
Chordata        cnn5   0.992401  0.937197  0.889428  0.952290  0.798208
                cnn7   0.998882  0.943856  0.895381  0.954940  0.801345
                cnn9   0.998087  0.942734  0.898063  0.951609  0.804356
                cnn11  0.966573  0.942373  0.895468  0.949167  0.793426
                cnn13  0.990587  0.941234  0.901320  0.954281  0.797627
Cnidaria        cnn5   0.993817  0.881208  0.872498  0.970895  0.592714
                cnn7   0.995688  0.899978  0.883783  0.962798  0.581109
                cnn9   0.996040  0.901211  0.892289  0.973363  0.585782
                cnn11  0.996079  0.902189  0.896753  0.977020  0.583500
                cnn13  0.996128  0.907721  0.909676  0.980500  0.628785
Echinodermata   cnn5   0.994436  0.933070  0.900468  0.951806  0.882184
                cnn7   0.994427  0.952144  0.911306  0.951517  0.890398
                cnn9   0.997281  0.957272  0.933821  0.963616  0.885027
                cnn11  0.994054  0.957386  0.925254  0.960644  0.886558
                cnn13  0.997465  0.964477  0.931948  0.959068  0.879154
Mollusca        cnn5   0.997329  0.855669  0.802399  0.918540  0.779801
                cnn7   0.998282  0.870666  0.828171  0.936647  0.776994
                cnn9   0.997759  0.875578  0.830579  0.928179  0.769884
                cnn11  0.998809  0.876078  0.829381  0.935016  0.788634
                cnn13  0.998763  0.877450  0.831102  0.930971  0.793789
Nematoda        cnn5   0.879655  0.793733  0.773463  0.866096  0.923248
                cnn7   0.884288  0.793227  0.756838  0.902586  0.923096
                cnn9   0.902913  0.847114  0.831459  0.898177  0.927603
                cnn11  0.895060  0.856943  0.831815  0.937935  0.925866
                cnn13  0.933175  0.887073  0.849601  0.945205  0.924764
Platyhelminthes cnn5   0.963711  0.940607  0.939975  0.936030  0.838997
                cnn7   0.951391  0.955745  0.953260  0.974972  0.841694
                cnn9   0.949971  0.991812  0.989080  0.985475  0.843493
                cnn11  0.975907  0.985232  0.982352  0.978931  0.836004
                cnn13  0.949605  0.983406  0.984213  0.981978  0.837266

# Supplementary Table S9

In [13]:
df = pd.read_csv("../Sup_Table_S9/Sup_Table_S9.data.csv", sep=',')
df.head(n=2)

     phylum  trial   rank     AUROC      AUPR
0  Annelida      1  class  0.998885  0.996006
1  Annelida      0  class  0.999186  0.997816

In [14]:
auroc = df.groupby(['phylum', 'trial'])['AUROC'].mean()
auroc = auroc.unstack()
auroc['min'] = auroc.min(axis=1)
auroc['max'] = auroc.max(axis=1)
auroc['diff'] = auroc['max'] - auroc['min']
auroc = auroc[['min', 'max', 'diff']]

In [15]:
auroc

trial                 min       max      diff
phylum
Annelida         0.963647  0.967372  0.003725
Arthropoda       0.983164  0.986423  0.003259
Chordata         0.970014  0.971989  0.001975
Cnidaria         0.943055  0.946698  0.003643
Echinodermata    0.978184  0.981732  0.003548
Mollusca         0.959894  0.963961  0.004067
Nematoda         0.970647  0.972437  0.001790
Platyhelminthes  0.978755  0.983571  0.004815

In [16]:
aupr = df.groupby(['phylum', 'trial'])['AUPR'].mean()
aupr = aupr.unstack()
aupr['min'] = aupr.min(axis=1)
aupr['max'] = aupr.max(axis=1)
aupr['diff'] = aupr['max'] - aupr['min']
aupr = aupr[['min', 'max', 'diff']]

In [17]:
aupr

trial                 min       max      diff
phylum
Annelida         0.901982  0.911427  0.009445
Arthropoda       0.946806  0.950911  0.004105
Chordata         0.918132  0.921085  0.002953
Cnidaria         0.882418  0.886737  0.004319
Echinodermata    0.944667  0.947404  0.002737
Mollusca         0.884190  0.889217  0.005027
Nematoda         0.907964  0.927335  0.019371
Platyhelminthes  0.947359  0.951966  0.004607